<table class="table text-white">
    <tbody>
        <thead>
            <tr>
                <th
                    colspan="2"
                    scope="col"
                    style="background-color: rgba(133, 184, 30, 0.6)"
                >
                    <i>{{ animal.spieces }}</i>
                </th>
            </tr>
        </thead>

        <tr>
            <th scope="row" class="col-5">
                Temperatura [°C]
            </th>
            <td class="col-7">
                {{ table.temperature }}
            </td>
        </tr>

        <tr class="tableEven">
            <th scope="row">
                Wilgotność
            </th>
            <td>
                {{ table.humidity }}
            </td>
        </tr>

        <tr>
            <th scope="row">
                Grzanie
            </th>
            <td>
                {{ table.warming }}
            
            </td>
        </tr>

        <tr class="tableEven">
            <th scope="row">
                Wymiary terrarium
            </th>
            <td>
                {{ table.terrariumDimensions }}
            </td>
        </tr>

        <tr>
            <th scope="row">
                Podłoże
            </th>
            <td>
                {{ table.substrate }}
            </td>
        </tr>

        <tr class="tableEven">
            <th scope="row">
                Pokarm
            </th>
            <td>
                {{ table.food }}   
            </td>
        </tr>

        <tr>
            <th scope="row">
                UVB
            </th>
            <td>
                {{ table.uvb }}
            </td>
        </tr>

        <tr class="tableEven">
            <th scope="row">
                Długość życia
            </th>
            <td>
                {{ table.lifespan }}
            </td>
        </tr>

        <tr>
            <th scope="row">
                CITES
            </th>
            <td>
                {{ table.cites }}
            </td>
        </tr>

        <tr>
            <th
                colspan="2"
                scope="col"
                style="background-color: rgba(133, 184, 30, 0.6)"
            >
                <p class="mb-0 d-flex justify-content-center">
                    Zawarta na stronie oferta ma charakter informacyjny i
                    nie stanowi oferty handlowej w rozumieniu art. 66 §1
                    Kodeksu Cywilnego.
                </p>
            </th>
        </tr>
    </tbody>
</table>

<a class="item" href="tel:510 343 168">
    &nbsp;&nbsp; tel. 510 343 168
</a>