{% extends 'admin/layout.html.twig' %}

{% set flag = app.flashes('remove2') %}

{% block main %}

    <h1 class="sectionHeader d-none">
        Blog
    </h1>

    {% if selectedPost %}
        <div id="addImageTab" class="d-none h-100">
            {{ render(controller(
                'App\\Controller\\Admin\\ImageCrudController::showImages', {excludedIds : excludedIds, action : ('/admin/relation/action/add/BlogPost/' ~ selectedPost.id ~ '/image'), parentTemplate : 'blog.html.twig', search : search}
            )) }}
        </div>
    {% endif %}

    <div id="itemListTab">
        <div class='d-flex align-items-end'>

            <h1 class="sectionHeader">
                Blog
            </h1>
            
            <h4 class="sectionOffHeader">
                <a href="{{path('admin_blog_action', {'action' : "create" })}}">
                    Dodaj post
                </a>
            </h4>

        </div>

        <div class="contentNav d-flex text-center">
            <span style="width:50%;" >Tytuł:</span>
            <span style="width:33.33%;">Nagłówek:</span>
            <span style="width:16.67%;">Data:</span>
        </div>
        <div>
            <ul class="list-unstyled components">
                {% for post in blogPosts %}
                    <li>
                        <div class="contentNav d-flex {% if post.slug|replace({" ":"-"}) == slug %}itemActiveBlog{% endif %}">
                            <div style="width:50%;" class="blogTableCell d-flex align-items-center">
                                <a href="{{ path('admin_blog_show', {'slug' : post.slug|replace({" ":"-"})}) }}" class="blogHeader" {% if post.slug|replace({" ":"-"}) == slug %} class="d-flex align-items-center itemActive" {% endif %}>
                                    {{ post.title }}
                                </a>
                            </div>
                            <div class="blogTableCell d-flex align-items-center" style="width:33.33%;">
                                {{post.slug}}
                            </div>
                            <div class="blogTableCell d-flex align-items-center" style="width:16.67%;">
                                {{post.createdAt|date("m/d/Y")}}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}

    {% if selectedPost %}

        <div class="row m-0">
            <button id="addImage">Dodaj zdjęcie</button>
            <button>
                <a href="{{path('admin_blog_action', {'action' : "update", id : selectedPost.id })}}">
                    Edytuj
                </a>
            </button>
            <button>
                <a href="{{path('admin_blog_action', {'action' : "remove", id : selectedPost.id})}}" class="deleteButton">
                    Usuń
                </a>
            </button>
        </div>
        <div class="col-12 text-center sidebarMainBlock">
            <h4 class="text-light mb-2 pt-2">{{ selectedPost.title }}</h4>
            {% for image in selectedPost.images %}
                {% if image.postFrontImage %}
                    <div class="col-12 p-1"> 
                        <img src={{ asset('images/'~image) }} class="primaryProductImage rounded mx-auto"> </img> 
                        <form action="{{ path('admin_relation_action', {'action' : 'remove', oneToManyEntity : "BlogPost", oneToManyEntityId : selectedPost.id, manyToOneEntity : "Image"}) }}" method="post">
                            <input type="hidden" name="ids" value="{{image.id}}">
                            <input type="submit" value="x" class="deleteXButton">
                        </form>
                    </div> 
                {% endif %}
            {% endfor %}
        </div>  

        <div class="sidebarMenuButtons row m-0">
            <button class="menuTab menuTabBlog {% if not flag %}itemActive{% endif %}" data-tab-name="info">Informacje</button>
            <button class="menuTab menuTabBlog {% if flag %}itemActive{% endif %}" data-tab-name="images">Zdjęcia</button>
        </div>

        <div class='infoContainer itemTab {% if flag %}d-none{% endif %}'>

            <div class="row m-0 p-2 pb-3" style="line-height:1.7rem;">
                <div class="col-5">Tytuł: </div>
                <div class="col-7">{{selectedPost.title}} </div>
                <div class="col-5">Nagłówek: </div>
                <div class="col-7">{{selectedPost.slug}} </div>
                <div class="col-5">Autor: </div>
                <div class="col-7">{{selectedPost.author.nickname}} </div>
                <div class="col-5">Data utworzenia: </div>
                <div class="col-7">{{selectedPost.createdAt|date("m/d/Y")}} </div>
                <div class="col-12 py-2" style="border-top:1px solid #343a40;">Treść: </div>
                <div class="col-12">{{selectedPost.content}} </div>
            </div>

        </div>
            <div class="imageContainer itemTab {% if not flag %}d-none{% endif %}">
                <div class="row m-0 ">
                    {% for image in selectedPost.images %}
                        {% if not image.postFrontImage %}
                            <div class="row m-0 imageItem">
                                <div class="col-5 p-0 pl-2">
                                    <img src={{ asset('images/'~image) }} class="secondaryProductImage"> 
                                    </img>
                                </div>
                                <div class="formContainer col-7 p-0 row m-0">
                                    <div class="col-12 p-0 align-items-end d-flex justify-content-center h-25">
                                        <span>
                                            {{image.figcaption}}
                                        </span>
                                    </div>
                                    <form class="col-6 p-0 d-flex align-items-start h-75" action="{{ path('admin_blog_action', {'action' : 'makeFront', 'id' : selectedPost.id}) }}" method="post">
                                        <input type="hidden" name="imageId" value="{{image.id}}">
                                        <input class="w-100 submitButton" type="submit" value="Front">
                                    </form>
                                    <form class="col-6 p-0 d-flex align-items-start h-75" action="{{ path('admin_relation_action', {'action' : 'remove', 'id' : selectedPost.id, oneToManyEntity : "BlogPost", oneToManyEntityId : selectedPost.id, manyToOneEntity : "Image"}) }}" method="post">
                                        <input type="hidden" name="ids" value="{{image.id}}">
                                        <input class="w-100 submitButton" type="submit" value="Usuń">
                                    </form>
                                    
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}

{% block assets %}

    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"></script>
    <script src="{{asset('js/search-bar.js')}}" ></script>
    
{% endblock %}