{% extends 'admin/layout.html.twig' %}

    {% block main %}
        <div id="itemListTab">
            <div class='d-flex align-items-end'>

                <h1 class="sectionHeader">
                    Wydarzenia
                </h1>
                
                <h4 class="sectionOffHeader">
                    <a href="{{path('admin_events_action', {'action' : "create" })}}">
                        Dodaj wydarzenie
                    </a>
                </h4>

            </div>

            <div class="contentNav d-flex text-center">
                <span style="width:80%;">Miejscowość:</span>
                <span style="width:20%;">Data:</span>
            </div>
            <div>
                <ul class="list-unstyled components">
                    {% for event in events %}
                        <li>
                            <div class="contentNav d-flex {% if event.id == id %}itemActiveBlog{% endif %}">
                                <div style="width:80%;" class="blogTableCell d-flex align-items-center">
                                    <a href="{{ path('admin_events_show', {'id' : event.id}) }}" class="d-flex align-items-center" {% if event.id == id %} class="d-flex align-items-center itemActive" {% endif %}>
                                        {{ event.city }}
                                    </a>
                                </div>
                                <div class="blogTableCell d-flex align-items-center" style="width:20%;">
                                    {{event.date|date("d/m/Y")}}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block sidebar %}

        {% if selectedEvent %}
        
            <div class="row m-0">
                <button class="menuTabBlog">
                    <a href="{{path('admin_events_action', {'action' : "update", id : selectedEvent.id })}}">
                        Edytuj
                    </a>
                </button>
                <button class="menuTabBlog">
                    <a href="{{path('admin_events_action', {'action' : "remove", id : selectedEvent.id})}}" class="deleteButton">
                        Usuń
                    </a>
                </button>
            </div>
            <div class="col-12 text-center sidebarMainBlock">
                <div class="col-12 text-center" >
                    <h4 class="text-light mb-2 pt-2">{{ selectedEvent.city }}</h4>
                </div>

                <div class="sidebarMenuButtons row m-0">
                    <button class="menuTab menuTabBlog itemActive w-100" data-tab-name="info">Informacje</button>
                </div>

                <div class='infoContainer itemTab'>

                    <div class="row m-0 p-2 pb-3" style="line-height:2.2rem;">
                        <div class="col-5">Miasto: </div>
                        <div class="col-7">{{selectedEvent.city}} </div>
                        <div class="col-5">Data wydarzenia: </div>
                        <div class="col-7">{{selectedEvent.date|date("m/d/Y")}} </div>
                        <div class="col-12 py-4" style="border-top:1px solid #343a40;">Link do wydarzenia: </div>
                        <div class="col-12">
                            <div
                                class="fb-page facebookCallendarPlugin"
                                data-href="{{ selectedEvent.source }}"
                                data-tabs=""
                                data-width=""
                                data-height=""
                                data-small-header="true"
                                data-adapt-container-width="true"
                                data-hide-cover="false"
                                data-show-facepile="true"
                                >
                                <blockquote
                                    cite="{{ selectedEvent.source }}"
                                    class="fb-xfbml-parse-ignore"
                                >
                                    <a
                                    href="{{ selectedEvent.source }}"
                                    ></a
                                    >
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
        
{% endblock %}

{% block assets %}

    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"></script>
    
{% endblock %}