{% extends 'admin/layout.html.twig' %}

{% block main %}  

    <h1 class="sectionHeader">
        Galerie
    </h1>
    
    <div class="contentNav d-flex text-center">
        {% for key, gallery in galleries %}
            <div style="width:100%;" class="p-0 overflow-hidden">
                <a class=" d-inline-block {% if sectionName == key %}itemActive{% endif %}" style="width:100%;" href="{{path('admin_gallery_show', {'sectionName' : key})}}" >
                    {{ gallery }}
                </a>
            </div>
        {% endfor %}
    </div>


    <div class="row m-0">
        {% for image in images %}
            <div class="col-2 p-0">
                <img src={{ asset('images/'~image) }} class="addImageImage">
                <form action="{{ path('admin_relation_action', {'action' : 'remove', oneToManyEntity : "Gallery", oneToManyEntityId : gallery.id, manyToOneEntity : "Image"}) }}" method="post">
                    <input type="hidden" name="ids" value="{{image.id}}">
                    <input type="submit" value="x" class="deleteXButton deleteXButtonGallery">
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block sidebar %}
    
        {% if sectionName %}
            
            {{ render(controller(
                'App\\Controller\\Admin\\ImageCrudController::showImages', {excludedIds : excludedIds, action : ('/admin/relation/action/add/Gallery/' ~ gallery.id ~ '/image'), parentTemplate : 'galleries.html.twig', search : search}
            )) }}

        {% endif %}

{% endblock %}

{% block assets %}

    {{ parent() }}
    <script src="{{asset('js/search-bar.js')}}" ></script>
    
{% endblock %}
    
