{% extends 'admin/layout.html.twig' %}

{% block main %}
    
    {% if "ROLE_SUPERADMIN" in app.user.getRoles %}

        <div class='d-flex align-items-end'>

            <h1 class="sectionHeader">
                Użytkownicy
            </h1>
            
            <h4 class="sectionOffHeader">
                <a href="{{path('admin_users_action', {'action' : "create" })}}">
                    Dodaj użytkownika
                </a>
            </h4>

        </div>
        <div>
            <ul class="list-unstyled components">
                {% for user in users %}
                <li class="contentItemContainer">
                    <div class="m-0 align-items-center d-flex contentItem {% if user.nickname == nickname %}itemActive{% endif %}">
                        <a class="d-flex align-items-center w-100 pl-2" href="{{path('admin_users_show', {'nickname' : user.nickname})}}">
                            {{ user.nickname }}
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul> 
        </div>

    {% else %}
    
        <div class='d-flex align-items-end'>
            <h1 class="sectionHeader">
                Profil
            </h1>
        </div>

        <ul class="list-unstyled components">
            <li class="contentItemContainer">
                <div class="m-0 align-items-center d-flex contentItem {% if app.user.nickname == nickname %}itemActive{% endif %}">
                    <a class="pl-2 d-flex align-items-center w-100" href="{{path('admin_users_show', {'nickname' : app.user.nickname})}}">
                        {{ app.user.nickname }}
                    </a>
                </div>
            </li>
        </ul>

    {% endif %}

{% endblock %}

{% block sidebar %}

    {% if "ROLE_SUPERADMIN" in app.user.getRoles %}
        {% if selectedUser %}
            <div class="row m-0">
                <button style="width:100%">
                    <a href="{{path('admin_users_action', {'action' : "remove", id : selectedUser.id})}}" class="deleteButton rounded">
                        Usuń
                    </a>
                </button>
            </div>
            <div class="row sidebarContainer border border-dark">
                <div class="col-12 text-center" >
                    <h4 class="text-light mt-3 mb-2 ml-2">{{ selectedUser.nickname }}</h4>
    
                    <div class="sidebarMenuButtons row">
                        <button class="menuTab col-12 itemActive" data-tab-name="info">Informacje</button>
                    </div>
                </div>
                <div class='infoContainer'>
                    <div class="row m-0 p-2 pb-3" style="line-height:1.7rem;">
                        <div class="col-5">Nickname: </div>
                        <div class="col-7">{{selectedUser.nickname}}</div>
                        <div class="col-5">Role: </div>
                        <div class="col-7">{{selectedUser.roles|join(', ')}}</div>
                        <div class="col-5">Ustaw role: </div>
                        <div class="col-7">
                            <form method="POST" action="{{path('admin_users_action', {'action' : "updateRoles", id : selectedUser.id})}}">
                                <input name="roles[]" type="checkbox" value="ROLE_ADMIN" {% if "ROLE_ADMIN" in selectedUser.roles %}checked{%endif%} id="admin">
                                <label for="admin">ADMIN</label>
                                <br/>
                                <input name="roles[]" type="checkbox" value="ROLE_SUPERADMIN" {% if "ROLE_SUPERADMIN" in selectedUser.roles %}checked{%endif%} id="superadmin">
                                <label for="superadmin">SUPERADMIN</label>
                                <br/>
                                <input type="submit">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        {% if selectedUser %}
            <div class="row m-0">
                <button style="width:50%">
                    <a href="{{path('admin_users_action', {'action' : "update", id : selectedUser.id })}}">
                        Edytuj
                    </a>
                </button>
                <button style="width:49%">
                    <a href="{{path('admin_users_action', {'action' : "remove", id : selectedUser.id})}}" class="deleteButton">
                        Usuń
                    </a>
                </button>
            </div>
            <div class="row sidebarContainer border border-dark">
                <div class="col-12 text-center" >
                    <h4 class="text-light mt-3 mb-2 ml-2">{{ selectedUser.nickname }}</h4>
    
                    <div class="sidebarMenuButtons row">
                        <button class="menuTab col-12 itemActive" data-tab-name="info">Informacje</button>
                    </div>
                </div>
                <div class='infoContainer'>
                    <div class="row m-0 p-2 pb-3" style="line-height:1.7rem;">
                        <div class="col-5">Login: </div>
                        <div class="col-7">{{selectedUser.username}} </div>
                        <div class="col-5">Nickname: </div>
                        <div class="col-7">{{selectedUser.nickname}}</div>
                        <div class="col-5">Role: </div>
                        <div class="col-7">{{selectedUser.roles|join(', ')}}</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block assets %}

    {{ parent() }}
    <script src="{{asset('js/modal.js')}}"></script>
    
{% endblock %}