<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta
          name="Description"
          content="{% block description %} {% endblock %}"
        />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>
          {% block title %} {% endblock %}
        </title>
        {% block canonical %}
          <link rel="canonical" href="https://gekota.pl{{app.request.pathinfo}}" />
        {% endblock %}
        {% block links %}
          <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block javascript %}
          <script src="{{ asset('build/app.js') }}" defer type="text/javascript"></script>
          <script src="{{ asset('js/gekota_js.js') }}" defer type="text/javascript"></script>

          <script src="{{ asset('js/mdb.min.js') }}" defer type="text/javascript"></script>
          <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
          <script
            defer
            src="https://www.googletagmanager.com/gtag/js?id=G-1EKN05B606"
          ></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-1EKN05B606");
          </script>
        {% endblock %}
    {% endblock %}
  </head>

  <body>
      {% block navbar %} 
      <nav>
        {%block voidTop%}<div class="gora"></div>{%endblock%} 

      <!-- NAVBAR START -->
      <nav class="navbar fixed-top navbar-expand-md">
        <!-- LOGO1 MOBILE -->
        <a class="d-md-none ms-1" style="width: 131px" href="{{path('default_index')}}"
          ><img src="{{asset("images/logo.png")}}" class="logo" alt="logo sklepu Gekota"
        /></a>

        <!-- MENU BUTTON -->
        <div class="d-md-none">
          <button
            class="navbar-toggler d-inline d-md-none item"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#mainmenu"
            aria-controls="mainmenu"
            aria-expanded="false"
            aria-label="Przełącznik nawigacji"
          >
            <span class="fas fa-bars fa-2x"></span>
          </button>
        </div>

        <!-- PHONE NUMBER -->
        <div class="d-md-none me-1">
          <a class="item" href="tel:510 343 168">
            <i class="fas fa-phone fa-1x"> </i>&nbsp;&nbsp;510 343 168
          </a>
        </div>

        <!-- MAIN MENU CONTAINER -->
        <div
          class="collapse navbar-collapse justify-content-center"
          id="mainmenu"
        >
          <!-- LOGO2 DESKTOP VER -->
          <a class="d-none d-md-inline me-xl-3" href="{{path('default_index')}}">
            <img src="{{asset("images/logo.png")}}" class="logo" alt="logo sklepu Gekota" />
          </a>

          <!-- MAIN MENU ITEMS UL -->
          <ul class="navbar-nav align-items-center">
            <!-- INDEX -->
            <li class="d-xl-inline py-2">
              <a class="item me-2 mx-xl-3" href="{{path('blog_list_show')}}">Blog</a>
            </li>

            <!-- OFFER -->
            <div class="dropdown py-2">
              <a
                class="dropdown-toggle item mx-2 mx-xl-3"
                role="button"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Oferta
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'lizards'})}}"
                    >Jaszczurki</a
                  >
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'snakes'})}}">Węże</a>
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'turtles'})}}">Żółwie</a>
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'amphibians'})}}">Płazy</a>
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'arachnids'})}}"
                    >Pajęczaki</a
                  >
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'mantises'})}}"
                    >Modliszki</a
                  >
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('offer_list_show',{'class': 'others'})}}"
                    >Inne zwierzaki</a
                  >
                </li>
              </ul>
            </div>

            <!-- TERRARIUM -->
            <div class="dropdown py-2">
              <a
                class="dropdown-toggle item mx-2 mx-xl-3"
                role="button"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Terraria
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a
                    class="dropdown-item item"
                    href="{{path('order_terrarium_show')}}"
                    >Zamów</a
                  >
                </li>
                <li>
                  <a class="dropdown-item item" href="{{path('terrarium_arrangements_show')}}"
                    >Aranżacje</a
                  >
                </li>
              </ul>
            </div>

            <!-- CALLENDAR -->
            <li class="py-2">
              <a class="item mx-2 mx-xl-3" href="{{ path('calendar_show') }}"> Kalendarz </a>
            </li>

            <!-- GALLERY -->
            <div class="dropdown py-2">
              <a
                class="dropdown-toggle item mx-2 mx-xl-3"
                role="button"
                id="dropdownMenuLink"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                Galeria
              </a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <a class="dropdown-item item" href="{{ path('gallery_show', {"sectionName": "animals"}) }}"
                    >Zwierzęta</a
                  >
                </li>
                <li>
                  <a class="dropdown-item item" href="{{ path('gallery_show', {"sectionName": "shop"}) }}">Sklep</a>
                </li>
              </ul>
            </div>

            <!-- DR. RHACO -->
            <li class="py-2">
              <a class="item mx-2 mx-xl-3" href="#"> Dr.Rhaco </a>
            </li>

            <!-- CONTACT -->
            <li class="py-2">
              <a class="item mx-2 mx-xl-3" href="{{ path('contact_show') }}"> Kontakt </a>
            </li>
          </ul>

          <!-- SOCIAL MEDIA NAVBAR -->
          <div class="ms-md-0 ms-xl-3 d-none d-md-inline">
            <a
              class="socialmedia ps-1"
              href="https://www.instagram.com/gekotasklep/"
              target="_blank"
            >
              <i class="fab fa-instagram fa-2x"></i>
            </a>

            <a
              class="socialmedia ps-1"
              href="https://www.facebook.com/gekotasklep"
              target="_blank"
            >
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </div>

          <!-- SOCIAL MEDIA NABAR MOBILE -->
          <section
            class="d-flex justify-content-center p-4 stopkasekcja d-md-none"
          >
            <div class="srodek text-white">
              <a
                href="https://www.facebook.com/gekotasklep"
                class="mx-2 text-reset"
                target="_blank"
              >
                <i class="fab fa-facebook-f fa-2x"></i>
              </a>
              <a
                href="https://www.instagram.com/gekotasklep/"
                class="mx-2 text-reset"
                target="_blank"
              >
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
          </section>
        </div>
      </nav>
      
      <!-- NAVBAR END -->
      </nav>
      {% endblock %}
      {% block content %} {% endblock %}
      {% block footer %}<footer class="text-center text-lg-start stopka">
        <!-- SM FOOTER -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 stopkasekcja"
        >
          <div class="srodek">
            <a
              href="https://www.facebook.com/gekotasklep"
              class="mx-2 text-reset"
            >
              <i class="fab fa-facebook-f"></i>
            </a>

            <a
              href="https://www.instagram.com/gekotasklep/"
              class="mx-2 text-reset"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </section>
        <!-- SM FOOTER END -->

        <section>
          <div class="container text-center text-md-start mt-4">
            <div class="row mt-3 mx-0">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
                <address>
                  <p>ul. Rynek Łazarski 16</p>
                  <p>60-733 Poznań</p>
                  <p>tel. 510 343 168</p>
                </address>
              </div>
              <div
                class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center"
              >
                <h6 class="text-uppercase fw-bold mb-4">Godziny Otwarcia</h6>
                <p>pn. - pt. 11:00 - 18:00</p>
                <p>sob. 9:00 - 13:00</p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4 text-center">
                <h6 class="text-uppercase fw-bold mb-4">Zwierzęta</h6>
                <p>
                  <a href="{{path('offer_list_show',{'class': 'lizards'})}}" class="text-reset">Jaszczurki</a>
                </p>
                <p><a href="{{path('offer_list_show',{'class': 'turtles'})}}" class="text-reset">Żółwie</a></p>
                <p><a href="{{path('offer_list_show',{'class': 'amphibians'})}}" class="text-reset">Płazy</a></p>
                <p><a href="{{path('offer_list_show',{'class': 'snakes'})}}" class="text-reset">Węże</a></p>
                <p>
                  <a href="{{path('offer_list_show',{'class': 'arachnids'})}}" class="text-reset">Pajęczaki</a>
                </p>
                <p>
                  <a href="{{path('offer_list_show',{'class': 'mantises'})}}" class="text-reset">Modliszki</a>
                </p>
                <p>
                  <a href="{{path('offer_list_show',{'class': 'others'})}}" class="text-reset">Inne</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-3 mr-auto mb-4 text-center">
                <h6 class="text-uppercase fw-bold mb-4">Oferta</h6>
                <p>
                  <a href="{{path('order_terrarium_show')}}" class="text-reset"
                    >Terraria</a
                  >
                </p>
                <p><a href="#" class="text-reset">Dr.Rhaco</a></p>
              </div>
            </div>
          </div>
        </section>

        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.05)"
        >
          <h2>GEKOTA</h2>
          ALL RIGHTS RESERVED
        </div>
      </footer>{% endblock %}
  </body>
</html>