{% extends 'layout.html.twig' %}

{%block voidTop%}<div class="gora d-none d-md-flex"></div>{%endblock%}
{% block description %}W ofercie posiadamy liczne gatunki zwierzt egzotycznych: jaszczurki, w偶e, pajczaki, 偶贸wie, modliszki, pazy i inne. Zapraszamy!{% endblock %}
{% block title %}Gekota &#8211; sklep terrarystyczny Pozna. Zwierzta egzotyczne.{% endblock %}

{% block background %}
<!-- BACKGROUND MAIN -->
    <div
      class="p-5 text-center bg-image d-md-none"
      style="
        background-image: url('{{asset('images/felsuma.jpg')}}');
        height: 100vh;
        border-bottom: 1px solid rgb(133, 184, 30);
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.05)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="headingMobile">
            <h2 class="mb-1 gekotaHeading">GEKOTA</h2>
            <header>
              <h1 class="mb-3 subHeading">Sklep terrarystyczny</h1>
            </header>
            <a href="{{path("offer_show")}}"
              ><button
                type="button"
                class="mb-4 btn btn-outline-light btn-rounded subHeading"
              >
                Oferta <i class="fas fa-arrow-circle-right"></i></button
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="p-5 text-center bg-image d-none d-md-flex"
      style="
        background-image: url('{{asset('images/gargulec.jpg')}}');
        height: 90vh;
        border-bottom: 1px solid rgb(133, 184, 30);
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="mb-5 pb-5">
            <h2 class="mb-2 gekotaHeading">GEKOTA</h2>
            <header>
              <h1 class="mb-3 subHeading">Sklep terrarystyczny</h1>
            </header>
            <a href="{{ path("offer_show") }}"
              ><button
                type="button"
                class="mt-3 btn btn-outline-light btn-rounded subHeading"
                style="font-size: calc(10px + 0.4vw)"
              >
                Oferta <i class="fas fa-arrow-circle-right"></i></button
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- BACKGROUND MAIN END -->
    {% endblock %}

{% block main %}
    <main>
      <section id="jumpLink1">
        <div class="containter">
          <!-- AKTUALNOSCI -->

          <!-- <div class="aktualnosci">
             Dostawa owad贸w karmowych w ka偶dy wtorek po godzinie 14:00  szaracza wdrowna w czwartek od 11:00 
          </div>

          <div class="aktualnosci">
            <img src="nowosciImg/dostawa_owadow.jpg" class=" d-sm-inline-block d-none" alt="gekota 29.06.2022" height="400px">
            <img src="nowosciImg/dostawa_owadow.jpg" class="d-inline-block d-sm-none" alt="gekota 29.06.2022" height="250px">
          </div> -->

          <!-- NEWS -->

          <div class="sekcja">
            <h2 class="sectionHeader pb-5">Nowoci</h2>

            <div class="row px-3 mx-0">

              <div class="col-xl-2"></div>
              {% for animal in animals %}
                <div class="col-sm-6 col-md-3 col-xl-2">
                  <figure>
                    <a
                      href="offer/{{ animal.class }}/{{ animal.spieces }}"
                      target="_blank"
                      class="text-white"
                      ><img
                        src="{{asset("images/" ~ animal.getNewsImg)}}"
                        class="galleryPhoto"
                        alt="{{ animal.commonName }} {{ animal.spieces }}"
                      />
                      <h4>
                        <figcaption class="mt-2 nowosciLink">
                          {{ animal.commonName }} <br />
                          <i> {{ animal.spieces }} </i>
                        </figcaption>
                      </h4>
                    </a>
                  </figure>
                </div>
              {% endfor %}
              </div>

              <div class="row px-3 mx-0">

                <div class="col-xl-2"></div>
                {% for animal in animals2 %}
                  <div class="col-sm-6 col-md-3 col-xl-2">
                    <figure>
                      <a
                        href="offer/{{ animal.class }}/{{ animal.spieces }}"
                        target="_blank"
                        class="text-white"
                        ><img
                          src="{{asset("images/" ~ animal.getNewsImg)}}"
                          class="galleryPhoto"
                          alt="{{ animal.commonName }} {{ animal.spieces }}"
                        />
                        <h4>
                          <figcaption class="mt-2 nowosciLink">
                            {{ animal.commonName }} <br />
                            <i> {{ animal.spieces }} </i>
                          </figcaption>
                        </h4>
                      </a>
                    </figure>
                  </div>
                {% endfor %}

              </div>
          </div>

          <!-- NEWS END -->

          <!-- ABOUT US -->

          <div class="row d-flex align-items-center sekcja px-3 mx-0">
            <div class="col-md-6 col-xl-7 offset-xl-1">
              <h2 class="sectionHeader pb-2">O nas</h2>
              <p>
                Jestemy osobami, kt贸re s zakrcone na punkcie terrarystyki. Od
                lat sami hodujemy zwierzta egzotyczne poczwszy od modliszek,
                poprzez pajczaki, a skoczywszy na r贸偶nych krgowcach. Jako
                dowiadczeni terraryci mamy na koncie liczne sukcesy hodowlane.
                Wyksztacenie w kierunku szeroko rozumianej biologii i ekologii
                rodowiska pomaga nam jeszcze lepiej zrozumie wiat tych
                niesamowitych zwierzt. Dbamy o profesjonalizm, dlatego zale偶y
                nam, aby ka偶da osoba odwiedzajca nasz sklep otrzymaa zawsze
                pen i rzeteln informacje o potrzebach danego zwierzaka.
                Ponadto zajmujemy si profesjonaln aran偶acj i projektowaniem
                zbiornik贸w, kt贸re potrafi by prawdziw ozdob ka偶dego
                pomieszczenia.
              </p>
              <h5>
                Firma GEKOTA chce dzieli wraz z Wami pasje do terrarystyki.
              </h5>
            </div>

            <div class="offset-sm-3 offset-md-0 col-sm-6 col-xl-3">
              <img
                src="{{asset('images/orzesiony1.jpg')}}"
                class="articlePhoto"
                alt="gekon orzsiony"
              />
            </div>
          </div>

          
  
          <!-- Weterynarze -->

          <div class="sekcja">
            <h2 class="sectionHeader pb-5">Polecani weterzynarze</h2>

            <div class="row gx-5 px-5 gy-5 pb-5 mx-0">
              <div class="col offset-xl-1">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Przychodnia Weterynaryjna Ry</p>
                    <h6 class="card-title">
                      lek. wet. Oliwia Czy偶ykowska-Kubik
                    </h6>
                    <p class="card-text">Adres: Podg贸rna 5, 64-920 Pia</p>
                    <a
                      rel="nofollow"
                      href="https://www.przychodniarys.pl/kontakt"
                      class="item googleIcon"
                      target="_blank"
                      ><i class="fab fa-google"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Klinika Weterynaryjna SKVet</p>
                    <h6 class="card-title">lek. wet. Grzegorz Dziwak</h6>
                    <p class="card-text">
                      Adres: Stabowicka 109b, 54-062 Wrocaw
                    </p>
                    <a
                      rel="nofollow"
                      href="https://www.skvet.pl/kontakt"
                      class="item googleIcon"
                      target="_blank"
                      ><i class="fab fa-google"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Centrum Zdrowia Maych Zwierzt</p>
                    <h6 class="card-title">M. Majka R. Starczewski</h6>
                    <p class="card-text">
                      Adres: Osiedle Wadysawa Jagiey 33, 60-694 Pozna
                    </p>
                    <a
                      rel="nofollow"
                      href="http://www.klinikawet.pl/"
                      class="item googleIcon"
                      target="_blank"
                      ><i class="fab fa-google"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Gabinet Wterynaryjny "Kobra"</p>
                    <h6 class="card-title">Lek. wet. Hanna Lisiecka-Kozie</h6>
                    <p class="card-text">
                      Adres: Midzyborska 67, 60-162 Pozna
                    </p>
                    <a
                      rel="nofollow"
                      href="http://kobrawet.pl/kontakt"
                      class="item googleIcon"
                      target="_blank"
                      ><i class="fab fa-google"></i
                    ></a>
                  </div>
                </div>
              </div>

              <div class="col-xl-1"></div>
            </div>
            
          </div>

          <div class="aktualnosci">
            Zawarta na stronie oferta ma charakter informacyjny i nie stanowi
            oferty handlowej w rozumieniu art. 66 搂1 Kodeksu Cywilnego.
          </div>
        </div>
      </section>
    </main>
{% endblock %}