{% extends 'layout.html.twig' %}

{% block background %}
{% endblock %}

{% block description %}Lista kategorii zwierząt: jaszczurki, węże, żółwie, płazy, pajęczaki, modliszki, inne{% endblock %}
{% block title %}Lista kategorii{% endblock %}

{% block main %}
<main class="animalOfferList">

  <header><h1 class="gekotaHeading mb-0 py-4" style="background-color: white; border-bottom: 1px solid rgb(133, 184, 30);;">Oferta:</h1></header>

  {% for category in categories %}

  <a href="{{path('offer_list_show', {'class': category.class})}}">
    <div
      class="p-5 text-center bg-image d-none d-sm-flex hover-overlay"
      style="background-image: url('{{asset('images/' ~ category.filename)}}'); height: 150px; border-bottom: 1px solid rgb(133, 184, 30);">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="headingMobile">
            <h2 class="gekotaHeading">{{category.name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href="{{path('offer_list_show', {'class': category.class})}}">
    <div
      class="p-5 text-center bg-image d-flex d-sm-none"
      style="background-image: url('{{asset('images/' ~ category.mobileFilename)}}'); height: 130px; border-bottom: 1px solid rgb(133, 184, 30);">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="headingMobile">
            <h2 class="gekotaHeading">{{category.name}}</h2>
          </div>
        </div>
      </div>
    </div>
   </a>

  {% endfor %}
  
</main>
{% endblock %}